<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/fee77df2ed.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>Blog</title>
</head>
<body>

  <header>
    <div class="container">
      <%- include('partials/navbar') %>
      <div class="border"></div>
    </div>
  </header>


  <main>
    <div class="container">
      <div class="blog-container">
        <article>
          <% posts.forEach(post => {%>
          <div class="blog-date"> <%= post.createdAt %> </div>
          <div class="blog-title"> <%= post.title %> </div>
          <div class="blog-content"> <%= post.content %> </div>
          <div class="blog-user"> <%= post.author.username %> </div>
        </article>
        <% }); %>

        
      

        

      </div>

    </div>
  </main>

  <%- include('partials/footer') %>


  
  
</body>
<script src="/index.js"></script>
</html>